/* h1,ul{
    font-size: 24px;
    font-weight: bold;
    color: #086608;
    align-self: auto;
}

.visual{
    background-color: rgba(56, 33, 160, 0.55);
}

#ufo{
    background-color: rgba(245, 3, 3, 0.55);
    padding-right: 89px;
} */

body{
    background-color: #512DA8;    
}

.profile{
    margin: 0 auto;
    background-color:#673AB7;
    color: #FFFFFF;
}